sys-doc/Technical_Report/Architektur.aux
sys-doc/Technical_Report/Architektur.fdb_latexmk
sys-doc/Technical_Report/Architektur.fls
sys-doc/Technical_Report/Architektur.glg
sys-doc/Technical_Report/Architektur.glo
sys-doc/Technical_Report/Architektur.gls
sys-doc/Technical_Report/Architektur.ist
sys-doc/Technical_Report/Architektur.log
sys-doc/Technical_Report/Architektur.out
sys-doc/Technical_Report/Architektur.synctex.gz
sys-doc/Technical_Report/IEEEtran_HOWTO.pdf
sys-doc/.DS_Store
sys-doc/Architektur.aux
sys-doc/Architektur.fdb_latexmk
sys-doc/Architektur.fls
sys-doc/Architektur.glg
sys-doc/Architektur.glo
sys-doc/Architektur.gls
sys-doc/Architektur.ist
sys-doc/Architektur.log
sys-doc/Architektur.out
sys-doc/Architektur.synctex.gz
sys-doc/IEEEtran_HOWTO.pdf
