.openGroupDialogButton {
    background-color: #efb90b !important;
    margin: 10px !important;
}

.groupDialogContainer {
    display: flex;
    justify-content: flex-end;
}

.groupJoinField {
    input::-webkit-inner-spin-button,
    input::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
