#groupsContainer {
    border-radius: 25px;
    background-color: #181d25;
    padding: 20px;
    margin-top: 100px;
    margin-left: 500px;
    margin-right: 500px;
}
.listItem {
    background-color: #383a44;
    border-radius: 15px;
    margin-top: 25px;
}
#noGroups {
    background-color: #383a44;
    border-radius: 15px;
    margin-top: 25px;
}
