@import "./SignUpInDialog.scss";
@import "./TitleAppBar.scss";
@import "./TransactionDialog.scss";
@import "./GroupList.scss";
@import "./AddGroupDialog.scss";

body {
    margin: 0px;
    background-color: #383a44;
    color: #fff;
}
