.appBarTitle {
    background-color: #181d25;
    padding: 20px;
}

.appBarRightMenuButton {
    position: absolute;
    right: 20px;
}

.appBarLeftMenuButton {
    position: absolute;
    left: 20px;
}
