.openDialogButton {
    background-color: #efb90b !important;
    margin: 10px !important;
    position: fixed !important;
    bottom: 10px;
    right: 10px;
}

.dialogContainer {
    display: flex;
    justify-content: flex-end;
}
